# --- Proxy BFF Configuration ---
PORT=8085
INTERNAL_PROXY_KEY=seu_segredo_aqui_para_comunicacao_interna

# --- PocketBase Configuration ---
# Use o nome do serviço definido no docker-compose se estiver no mesmo Docker Network
POCKETBASE_URL=http://pb:8090

# --- AI Integration (Google Gemini API) ---
# Necessária para o processamento do Quiz. Obtenha em https://aistudio.google.com/
GEMINI_API_KEY=sua_chave_api_do_google_gemini_aqui
